### Idea ###
.idea
out
*.iml

src/lesson01/Lesson01.java
src/lesson02/DataTypes.java
sct/lesson03/RelationalAndLogicalOperations.java
resources/
stepik/
stepik1/
src/lesson04/ForAndWhile.java
src/lesson04/IncrementAndDecrement.java